<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>my_servlet_view</servlet-name>
		<servlet-class>project_servlet.servlet_view</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>my_servlet_view</servlet-name>
		<url-pattern>/view.do</url-pattern>
	</servlet-mapping>
        
        <servlet>
		<servlet-name>my_servlet_save</servlet-name>
		<servlet-class>project_servlet.servlet_save</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>my_servlet_save</servlet-name>
		<url-pattern>/insert.do</url-pattern>
	</servlet-mapping>

</web-app>
